*{
    box-sizing: border-box;
    text-align: center;
} 
@font-face {
    font-family:"Muslish";
    src: url("fonts/Mulish/Mulish-VariableFont_wght.ttf");
    font-family:"Oswald";
    src: url("fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

body{

    text-align: center;
    background-color: #dae4f0;
}
table{
    table-layout: fixed;
    height:50px;
}
table,th,td{
    border:2px solid black;
    border-collapse: collapse;
    font-family:"Oswald";
    
}


div{
    border:3px solid blueviolet;
    background-color: blue;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    position: relative;
    display:inline-block;
    width: 50px;
    height: 50px;
}
h1{
    margin-left: auto;
    margin-right: auto;
    border:3px dotted black;
    border-radius: 3px;
    max-width: fit-content;
    font-family:"Muslish";
    
}
.lastcolumn{
    width: 200px;
    
    
}
div.selected{
    border:3px solid yellow;
    background-color: yellowgreen;
}

#example1 {
     
      left:40px;
      z-index: 2;  
}

#example2 {
     
    right:40px;
    
}
#example3{

    right: 100px;
    z-index: 4;
    position: fixed;

}
#divScroll{
    
    overflow-y: scroll;
    width:180px;
    height: 150px;
}
#example4{

    position: sticky !important;
    z-index: 1;
    top:2px;
    


}